In [10]:
import pandas as pd
from datetime import datetime

In [11]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [12]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
df.size

12618360

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [15]:

from sqlalchemy import create_engine
engine.connect()

ModuleNotFoundError: No module named 'sqlalchemy'

In [16]:
print(pd.io.sql.get_schema(df, name='green_trip_data', con=engine))

NameError: name 'engine' is not defined

In [ ]:
#"Question4: Largest trip for each day"
with engine.connect() as con:
    #res = con.execute('''select count(1) from green_trip_data where (EXTRACT(MONTH FROM lpep_pickup_datetime) = '01' and EXTRACT(DAY FROM lpep_pickup_datetime) = '15.0') AND (EXTRACT(MONTH FROM lpep_dropoff_datetime) = '01' AND EXTRACT(DAY FROM lpep_dropoff_datetime) = '15.0') ''')
    res = con.execute('''select TO_CHAR(lpep_pickup_datetime,'yyyy:mm:dd') from green_trip_data where trip_distance = (select max(trip_distance) from green_trip_data); ''')

    for data in res:
        print(data)

In [ ]:
#Question 5: "The number of passengers"
with engine.connect() as con:
    res = con.execute('''select count(*) from green_trip_data where passenger_count  = 2 and TO_CHAR(lpep_pickup_datetime, 'yyyy:mm:dd')='2019:01:01' ''')
    res2 = con.execute('''select count(*) from green_trip_data where passenger_count  = 3 and TO_CHAR(lpep_pickup_datetime, 'yyyy:mm:dd')='2019:01:01' ''')
    
    for data in res:
        print("2: ", data)
    for data in res2:
        print("3: ", data)

In [ ]:
#"Question3: Count records"

with engine.connect() as con:
    res = con.execute('''select count(1) from green_trip_data where TO_CHAR(lpep_pickup_datetime, 'yyyy:mm:dd')='2019:01:15'  and TO_CHAR(lpep_dropoff_datetime, 'yyyy:mm:dd')='2019:01:15' ''')

    for data in res:
        print(data)

In [ ]:
#"Question6: Largest tip for astoria zone"

with engine.connect() as con:

    res = con.execute('''select 
                    zdo."Zone" as "new_zone",
                    tip_amount
                from green_trip_data t,
                    zones zpc,
                    zones zdo
                where t."PULocationID"=zpc."LocationID" AND
                t."DOLocationID"=zdo."LocationID" AND zpc."Zone"='Astoria' order by tip_amount DESC LIMIT 1
                ; ''')
    for data in res:
        print(data)