In [1]:
import pyspark
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

NameError: name 'SparkSession' is not defined

In [11]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-04 15:26:15--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T152615Z&X-Amz-Expires=300&X-Amz-Signature=8c32599c4c7ca203178736fbbf606638b7968e1bcb23b64449bc6f1f055f153c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-04 15:26:15--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T152615Z&X-Amz-Expires=300&X-Amz-Signature=8c32599c4c7ca203178736fbbf606638b7968e1bcb23b64449bc6f1f055f153c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  13.9MB/s    in 15s

2023-03-04 15:26:32 (10.9 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [17]:
!wc -l fhvhv_tripdata_2021-06.csv

14961893 fhvhv_tripdata_2021-06.csv

In [18]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv')

In [19]:
df.schema

StructType(List(StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,StringType,true),StructField(DOLocationID,StringType,true),StructField(SR_Flag,StringType,true),StructField(Affiliated_base_number,StringType,true)))

In [20]:
!head -n 1001 fhvhv_tripdata_2021-06.csv > head.csv

In [21]:
import pandas as pd

In [22]:
df_pandas = pd.read_csv('head.csv')

In [23]:
df_pandas.dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [24]:
spark.createDataFrame(df_pandas).schema

TypeError: field Affiliated_base_number: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

Integer - 4 bytes
Long - 8 bytes

In [25]:
from pyspark.sql import types

In [26]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [28]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

In [29]:
df = df.repartition(24)

In [30]:
df.write.parquet('fhvhv/2021/06/')

23/03/04 16:59:16 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: dispatching_base_num, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, SR_Flag, Affiliated_base_number
 Schema: hvfhs_license_num, dispatching_base_num, pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, SR_Flag
Expected: hvfhs_license_num but found: dispatching_base_num
CSV file: file:///home/rohit/data-engineering-zoomcamp/week_5_batch_processing/code/fhvhv_tripdata_2021-06.csv

In [31]:
df = spark.read.parquet('fhvhv/2021/06/')

In [32]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

SELECT * FROM df WHERE hvfhs_license_num =  HV0003

In [33]:
from pyspark.sql import functions as F

In [39]:
df.head(5)

[Row(hvfhs_license_num='B02875', dispatching_base_num='2021-06-04 22:31:29', pickup_datetime=datetime.datetime(2021, 6, 4, 22, 45, 18), dropoff_datetime=None, PULocationID=263, DOLocationID=None, SR_Flag='B02875'),
 Row(hvfhs_license_num='B02510', dispatching_base_num='2021-06-01 18:18:55', pickup_datetime=datetime.datetime(2021, 6, 1, 19, 5, 58), dropoff_datetime=None, PULocationID=14, DOLocationID=None, SR_Flag=None),
 Row(hvfhs_license_num='B02765', dispatching_base_num='2021-06-01 18:26:00', pickup_datetime=datetime.datetime(2021, 6, 1, 18, 35, 46), dropoff_datetime=None, PULocationID=252, DOLocationID=None, SR_Flag='B02765'),
 Row(hvfhs_license_num='B02872', dispatching_base_num='2021-06-02 05:36:28', pickup_datetime=datetime.datetime(2021, 6, 2, 5, 55, 50), dropoff_datetime=None, PULocationID=195, DOLocationID=None, SR_Flag='B02872'),
 Row(hvfhs_license_num='B02510', dispatching_base_num='2021-06-05 03:06:17', pickup_datetime=datetime.datetime(2021, 6, 5, 3, 16, 30), dropoff_datetime=None, PULocationID=89, DOLocationID=None, SR_Flag=None)]

In [51]:
df.select('pickup_datetime','dropoff_datetime','PULocationID','DOLocationID').filter(df.hvfhs_license_num=='B02510').show()

+-------------------+----------------+------------+------------+
|    pickup_datetime|dropoff_datetime|PULocationID|DOLocationID|
+-------------------+----------------+------------+------------+
|2021-06-01 19:05:58|            null|          14|        null|
|2021-06-05 03:16:30|            null|          89|        null|
|2021-06-02 23:12:39|            null|         260|        null|
|2021-06-02 13:34:33|            null|         107|        null|
|2021-06-04 23:19:00|            null|          75|        null|
|2021-06-04 22:53:18|            null|         107|        null|
|2021-06-04 20:43:24|            null|         246|        null|
|2021-06-01 20:41:22|            null|         229|        null|
|2021-06-04 13:59:24|            null|         183|        null|
|2021-06-01 08:27:34|            null|         261|        null|
|2021-06-04 11:46:47|            null|         158|        null|
|2021-06-02 12:37:47|            null|         265|        null|
|2021-06-01 18:01:44|            null|          72|        null|
|2021-06-04 16:30:24|            null|         142|        null|
|2021-06-02 09:33:21|            null|         234|        null|
|2021-06-04 21:26:48|            null|         233|        null|
|2021-06-01 13:34:16|            null|         250|        null|
|2021-06-03 07:54:36|            null|         161|        null|
|2021-06-01 00:20:27|            null|         215|        null|
|2021-06-05 03:23:03|            null|         188|        null|
+-------------------+----------------+------------+------------+
only showing top 20 rows

In [50]:
df.withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)).select('pickup_date','dropoff_date').show()

+-----------+------------+
|pickup_date|dropoff_date|
+-----------+------------+
| 2021-06-04|        null|
| 2021-06-01|        null|
| 2021-06-01|        null|
| 2021-06-02|        null|
| 2021-06-05|        null|
| 2021-06-03|        null|
| 2021-06-02|        null|
| 2021-06-03|        null|
| 2021-06-05|        null|
| 2021-06-03|        null|
| 2021-06-05|        null|
| 2021-06-02|        null|
| 2021-06-01|        null|
| 2021-06-04|        null|
| 2021-06-05|        null|
| 2021-06-02|        null|
| 2021-06-02|        null|
| 2021-06-02|        null|
| 2021-06-02|        null|
| 2021-06-04|        null|
+-----------+------------+
only showing top 20 rows

In [43]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [44]:
crazy_stuff('B02884')

's/b44'

In [52]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [54]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select( 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-06-04|        null|         263|        null|
| 2021-06-01|        null|          14|        null|
| 2021-06-01|        null|         252|        null|
| 2021-06-02|        null|         195|        null|
| 2021-06-05|        null|          89|        null|
| 2021-06-03|        null|          50|        null|
| 2021-06-02|        null|         260|        null|
| 2021-06-03|        null|         262|        null|
| 2021-06-05|        null|         129|        null|
| 2021-06-03|        null|           7|        null|
| 2021-06-05|        null|         249|        null|
| 2021-06-02|        null|         140|        null|
| 2021-06-01|        null|         152|        null|
| 2021-06-04|        null|          44|        null|
| 2021-06-05|        null|         213|        null|
| 2021-06-02|        null|         254|        null|
| 2021-06-02|        null|         107|        null|
| 2021-06-02|        null|          48|        null|
| 2021-06-02|        null|         107|        null|
| 2021-06-04|        null|         249|        null|
+-----------+------------+------------+------------+
only showing top 20 rows

In [55]:
!head -n 10 head.csv

dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,
B02510,2021-06-01 00:18:15,2021-06-01 00:25:47,49,17,N,
B02510,2021-06-01 00:33:06,2021-06-01 00:42:46,49,225,N,
B02510,2021-06-01 00:46:27,2021-06-01 00:56:50,225,177,N,
B02764,2021-06-01 00:48:06,2021-06-01 01:04:10,209,45,N,B02764