In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://data-eng-vm.asia-south2-a.c.data-engineering-rj.internal:7077") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/rohit/spark/spark-3.2.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/03/11 07:14:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

23/03/11 07:15:49 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/03/11 07:16:04 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/03/11 07:16:19 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/03/11 07:16:34 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/03/11 07:16:49 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/03/11 07:17:04 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/03/11 07:17:19 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

In [4]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [7]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [8]:
common_colums

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [9]:
from pyspark.sql import functions as F

In [10]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [11]:
df_green_sel.head()

Row(VendorID=32898, pickup_datetime=None, dropoff_datetime=datetime.datetime(2020, 1, 4, 14, 25, 5), store_and_fwd_flag='2020-01-04 14:39:39', RatecodeID=None, PULocationID=None, DOLocationID=42, passenger_count=50, trip_distance=1.0, fare_amount=5.06, extra=17.5, mta_tax=0.0, tip_amount=0.5, tolls_amount=5.0, improvement_surcharge=None, total_amount=0.3, payment_type=None, congestion_surcharge=1.0, service_type='green')

In [12]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [13]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [14]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 4038568|
|      yellow|39649199|
+------------+--------+

In [23]:
df_trips_data.show(5)

+--------+---------------+-------------------+-------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|pickup_datetime|   dropoff_datetime| store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+---------------+-------------------+-------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|   32898|           null|2020-01-04 14:25:05|2020-01-04 14:39:39|      null|        null|          42|             50|          1.0|       5.06| 17.5|    0.0|       0.5|         5.0|                 null|         0.3|        null|                 1.0|       green|
|   63094|           null|2020-01-07 14:39:50|2020-01-07 14:55:45|      null|        null|          92|            252|          1.0|       2.59| 12.5|    0.0|       0.5|        2.66|                 null|         0.3|        null|                 1.0|       green|
|   94325|           null|2020-01-10 10:54:03|2020-01-10 11:23:15|      null|        null|         244|            239|          1.0|       6.33| 21.0|    0.0|       0.5|         0.0|                 null|         0.3|        null|                 1.0|       green|
|   41132|           null|2020-01-05 06:39:02|2020-01-05 07:04:20|      null|        null|          49|             43|          1.0|      11.74| 35.0|    0.0|       0.5|         0.0|                 null|         0.3|        null|                 1.0|       green|
|  135296|           null|2020-01-14 00:33:21|2020-01-14 00:33:24|      null|        null|          85|             85|          1.0|       0.03| 20.0|    0.0|       0.0|         0.0|                 null|         0.0|        null|                 2.0|       green|
+--------+---------------+-------------------+-------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
only showing top 5 rows

In [15]:
df_trips_data.registerTempTable('trips_data')

/home/rohit/spark/spark-3.2.3-bin-hadoop3.2/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [16]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 4038568|
|      yellow|39649199|
+------------+--------+

In [17]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [18]:
df_result.show(5)

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         250|2020-02-01 00:00:00|       green|   15359.96000000006|               1282.5|                  117.5|                     56.01|           590.3200000000003|                    180.0000000000011|           17598.43999999996|                                11.0|        1.2394957983193278|       4.962810650887574|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                                null|                      null|      11.090000000000002|
|          15|2020-03-01 00:00:00|       green|  1682.2299999999998|                  5.5|                    6.5|                       0.0|                       79.56|                   19.800000000000026|          1802.4399999999991|                                 0.0|                       1.0|       7.910298507462687|
|         229|2020-03-01 00:00:00|       green|              676.36|                  0.0|                    1.0|                       0.0|          42.839999999999996|                    8.099999999999998|           728.2999999999998|                                 0.0|                       1.0|       7.691111111111111|
|         152|2020-02-01 00:00:00|       green|  37630.820000000036|              1541.25|                 1398.5|         2836.659999999999|           538.3700000000005|                    903.8999999999543|           45984.60000000085|                             1336.25|        1.2240055826936498|      2.7264033667853664|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 5 rows

23/03/11 07:29:36 ERROR TaskSchedulerImpl: Lost executor 0 on 10.190.0.2: Remote RPC client disassociated. Likely due to containers exceeding thresholds, or network issues. Check driver logs for WARN messages.
23/03/11 07:29:49 WARN StandaloneAppClient$ClientEndpoint: Connection to data-eng-vm.asia-south2-a.c.data-engineering-rj.internal:7077 failed; waiting for master to reconnect...
23/03/11 07:29:49 WARN StandaloneSchedulerBackend: Disconnected from Spark cluster! Waiting for reconnection...
23/03/11 07:29:49 WARN StandaloneAppClient$ClientEndpoint: Connection to data-eng-vm.asia-south2-a.c.data-engineering-rj.internal:7077 failed; waiting for master to reconnect...

In [35]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')